mixin movie_detail(movie)
  article 
    h3= movie.title 
    .affiche-principal 
      img(
        src= movie.imgURL
        alt= "Affiche du film " + movie.title
        width= 150
        height= 200
      )
      div 
        p
          | Réalisé par 
          a(href=movie.director.url?movie.director.url:"#" target="_blank") #{movie.director.name}
        p
          | Avis - 
          - for (let i=0;i<movie.rating;i++)
            | *
      p 
        | Avec 
        - for (let i=0;i<movie.actors.length;i++)
          - const url = movie.actors[i].url ?? "#"
            a(href=url target="_blank") #{movie.actors[i].name}#{(i < movie.actors.length-1)?", ":""}
        br