extends layout 

include ./movie.pug
include ./person-form.pug
include ./genre-form.pug
block content
  script(src="scripts/movie_form.js", defer="")

  form#movie-form.page-form(action='/movies/form' method='POST')
    label(for='title') Titre du film :
    input#title(type='text' name='title' value=movie?movie.title:'' required)
    label(for='director') Réalisateur :
    select#director(name='director_id')
      option(value=null) -- Sélectionner un réalisateur --
      each person in persons 
        if (movie && movie.director && person._id.toString() === movie.director._id.toString())
          option(value=person._id selected) #{person.name}
        else 
          option(value=person._id) #{person.name}
    label(for='rating') Avis :
    input#rating(type='range' name='rating' value=movie?movie.rating:3 min='1' max='5')
    label(for='actors') Acteurs :
    select#actors(name='actors_id_tmp')
      option(value=null) -- Ajouter un acteur --
      each person in persons 
        option(value=`${person._id};${person.name}`) #{person.name}
    .current-selection-list 
      if (movie)
        each actor in movie.actors 
          div
            p
              span(hidden="") #{actor.id};
              |#{actor.name}
            button &times;
    input(type='hidden' name='actors_id_hid')
    label(for='length') Durée (format - 0h00 / 00m) :
    input#length(type='text' name='length' value=movie?movie.length:'')
    label(for='genre') Genre :
    select#genre(name='genre_id')
      option(value=null) -- Sélectionner un genre --
      each genre in genres
        if (movie && movie.genre && genre._id.toString() === movie.genre._id.toString())
          option(value=genre._id selected) #{genre.name}
        else 
          option(value=genre._id) #{genre.name}
    button#movie-preview-btn(type='submit') Prévisualiser
    - if (preview)
      button#movie-create-btn(type='submit' formaction='/db/movie') Ajouter ce film à la base de données
  
  +person_form
  +genre_form

  - if (preview)
    section#affiche.alaffiche
      h2 Prévisualisation
      
      +movie_detail(movie)
