extends layout 

include ./movie-detail.pug

block content 
  each week, index in weeks
    section.alaffiche(id="affiche" + ((index>0)?"-s+"+index:""))
      h2 #{week.name}
      each movie in movies[index]
        -
          let classAffiche = "";
          if (movie.tags.includes("Coup de coeur"))
            classAffiche = "affiche--coupcoeur";
        article(class=classAffiche)
          +movie_detail(movie.movie, edit, movie.tmdb_id)
          .affiche-horaires 
            h4.WRAPPED Horaires 
            div
              p Salle 1
              p Salle 2
          table 
            thead 
              tr 
                th Mercredi 
                th Jeudi 
                th Vendredi 
                th Samedi 
                th Dimanche 
                th Lundi 
                th Mardi 
            tbody
            -
              let date = new Date(week.firstDay);
              date.setHours(0);
              date.setMinutes(0);
              date.setSeconds(0);
              date.setMilliseconds(0);
              let inds = [];
            tr
              - for (let i=0;i<7;i++)
                -
                  let caseText = "-";
                  let className = "";

                  for (let ind = 0;ind < movie.sessions.length;ind++) {
                    let movieDate = movie.sessions[ind].date;
                    movieDate.setHours(0);
                    if (movieDate.valueOf() === date.valueOf())  {
                      caseText = movie.sessions[ind].startingTime;
                      if (movie.sessions[ind].version) caseText += " " + movie.sessions[ind].version;
                      className = "horaire-s" + movie.sessions[ind].room;
                      inds.push(ind);
                      break;
                    }
                    if (ind === movie.sessions.length-1)
                      inds.push(-1);
                  }
                  date.setDate(date.getDate() + 1);
                td(class=className) #{caseText}
              - date.setDate(date.getDate() - 7);
            tr
              - for (let i=0;i<7;i++)
                -
                  let caseText = "-";
                  let className = "";

                  for (let ind = inds[i]+1;ind < movie.sessions.length;ind++) {
                    let movieDate = movie.sessions[ind].date;
                    movieDate.setHours(0);
                    if (movieDate.valueOf() === date.valueOf())  {
                      caseText = movie.sessions[ind].startingTime;
                      className = "horaire-s" + movie.sessions[ind].room;
                      break;
                    }
                  }
                  date.setDate(date.getDate() + 1);
                td(class=className) #{caseText}

  p.top-page
    a(href='#top-page') &#x2C4;
